@model IEnumerable<TieuChuanWebVer4.Models.sp_DanhSachTaiLieu_Result>
@{
    ViewBag.Title = "Dialog";
    Layout = "~/Views/Shared/_LayoutWord.cshtml";
}

@foreach (var item in Model)
{
    <p style="font-size:17px;font-weight:bold">@item.tentaptin</p><a href="https://drive.google.com/open?id=@item.driveid" target="_blank">Xem</a>
}
